*{
    margin: 0;
    padding: 0;  
}
body{
    background-image: url(https://images.unsplash.com/photo-1585314062340-f1a5a7c9328d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80);
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    background-color: hsla(197, 43%, 18%, 0.477);
    background-blend-mode: multiply;
    font-size: 1.1em;
    font-family: 'times new roman', sans-serif;
}
.heading{
    text-align: center;
    width: 100%;
    margin: auto;
    margin-top: 100px;
}
#head{
    font-size: 1.8em;
}
#subheading{
    font-size: 18px;
    margin-top: 10px; 
}
#content1{
    width: 90%;
    margin: auto;
}

#content2{
    margin-top: 10px;
}
form{
    background-color: rgb(54, 33, 33);
    padding-top: 30px ;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    border-radius: 5px;
    margin: auto;
    margin-top: 10px;
    padding-bottom: 60px;
}
form .box1{
    width: 37.5%;
    height: 2.8em;
    position: relative;
    bottom: 10px;
    border: 0;
    border-radius: 5px;
}

form .box{
    width: 98.5%;
    height: 2.8em;
    position: relative;
    bottom: 10px;
    border: 0;
    border-radius: 5px;
}
#option1 select{
    width: 98.5%;
    height: 2.8em;
    position: relative;
    bottom: 10px;
    border: 0;
    border-radius: 5px;
}
#option2 select{
    width: 98.5%;
    height: 2.8em;
    position: relative;
    top: 10px;
    border: 0;
    border-radius: 5px;
}
#content2 textarea{
    width: 98.5%;
    height: 125px;
    position: relative;
    bottom: 17px;
}
button{
    width: 98.5%;
    height: 3em;
    position: relative;
    top: 11px;
    background-color: rgba(41, 18, 219, 0.778);
    border: none;
    color: rgb(255,255,2555);
    margin-bottom: 10px;
    cursor:pointer;
}
textarea::placeholder{
    font-size: 1.4em;
    position: relative;
    top: 8px;
    left: 5px;
    width: 70%;
}
input::placeholder{
    font-size: 1.1em;
    position: relative;
    left: 10px;
    width: 50%;
    font-weight: 500;
}
input .larger{
    width: 30px;
    height: 30px;
}
@media screen and (max-width:600px){
    form{
        width: 100%;
        margin: auto;
    }
}
